{:main toolsdeps-figwheel-devcards.core, :optimizations :advanced, :pretty-print false, :source-map "resources/public/js/prod.js.map", :asset-path "js/prod", :output-to "resources/public/js/prod.js", :output-dir "resources/public/js/prod", :aot-cache false}